.contact__btn{
    width: 90px;
    /* border: 1px solid red; */
    position: fixed;
    margin-left: 90%;
    margin-top: 36%;
    z-index: 9999;
}
.contact__btn-cont{
    cursor: pointer;
    width: 100%;
}
.contact__btn-cont div:first-child img{
    /* background: red; */
    /* border: 1px solid black; */
    width: 100%;
}
.contact__btn-cont div:last-child img{
    /* background: red; */
    /* border: 1px solid black; */
    margin-left: 10px;
    width: 77%;
}
@media screen and (max-width:768px) {
    .contact__btn{
        margin-left: 85%;
        margin-top: 60%;
    }
    .contact__btn-cont{
        width: 80%;
    }
}

@media screen and (max-width:426px) {
    .contact__btn{
        margin-left: 80%;
        margin-top: 120%;
    }
    .contact__btn-cont{
        width: 75%;
    }
}

@media screen and (max-width:376px) {
    .contact__btn{
        margin-left: 77%;
        margin-top: 135%;
    }
    .contact__btn-cont{
        width: 70%;
    }
}

@media screen and (max-width:321px){
    .contact__btn{
        margin-left: 77%;
        margin-top: 160%;
    }
    .contact__btn-cont{
        width: 67%;
    }
}