.eagle__home{
    width: 100%;
    z-index:-1;
}
.eagle__home-img{
    width: 100%;
    height: 750px;
    overflow: hidden;
}


.eagle__home-img img{
    width: 100%;
    height: 100%;
    /* filter: blur(4px); */
    opacity: 0.6;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width:1024px) {
    .eagle__home-img{
        height: 650px;
    }
}
@media screen and (max-width:426px) {
    .eagle__home-img{
        height: 650px;
    }
}

/* @media screen and (max-width:320px){
    .eagle__home-img{
        height: 650px;
    }
} */