.eagle__nav-prenav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    background:rgb(223, 223, 223);
}
.ealge__nav-prenav_phone{
    background:rgb(223, 223, 223);
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: space-around;
    align-items: center;
}
.ealge__nav-prenav_phone img{
    /* width: 100%; */
    /* border: 3px solid black; */
    height: 105%;
}
.eagle__nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.eagle__nav{
    position: -webkit-sticky; /* For Safari */
    /* position: sticky; */   /*----------------------- TO GET STICKY NAV BAR---------------------*/
    top: 0;
    background-color: white; /* Change to your desired background color */
    z-index: 100; /* Adjust the z-index as needed */
    transition: all 0.5s; 
}
.eagle__nav.small{
    height: 100px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(57,58,58,1) 67%, rgba(253,255,255,1) 100%);
    color: white;
    opacity: 0.8;
}
.eagle__nav-logo.small{
    width: 2%;
}
.eagle__nav-logo{
    width: 10%;
}

.eagle__nav-logo img{
    width: 100%;
}

.eagle__nav-container{
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.eagle__nav-container h3{
    padding-bottom: 5px;
    cursor: pointer;
}

.eagle__nav-ham{
    display: none;
}
.eagle__nav-ham img{
    width: 100%;
    cursor: pointer;
}

.eagle__nav-ham_menu{
    display: none;
    z-index: 5;
    background:black;
    border-radius: 5px;
    padding: 15px 35px 15px 35px;
    margin-left: -110px;
    color: white;
    opacity: 0.8;
}
.eagle__nav-ham_menu p{
    cursor: pointer;
    opacity: 1;
}
.eagle__nav-ham_menu a{
    text-decoration: none;
    color: white;
}
.eagle__nav-container a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 1024px) {
    .eagle__nav-container h3{
        padding-bottom: 3px;
        /* font-size: 15 px; */
        /* font-weight: 500; */
    }
    .eagle__nav-logo{
        width: 12%;
    }
    .eagle__nav.small{
        height: 100px;
        background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(57,58,58,1) 67%, rgba(253,255,255,1) 100%);
        color: white;
        opacity: 0.8;
    }
}
@media screen and (max-width: 768px) {
    .eagle__nav-container h3{
        display: none;
    }
    .eagle__nav-logo{
        width: 100px;
    }
    .eagle__nav{
        height: 80px;
    }

    .eagle__nav.small{
        height: 80px;
        background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(57,58,58,1) 67%, rgba(253,255,255,1) 100%);
        color: white;
        opacity: 0.8;
    }
    .eagle__nav-ham{
        display: block;
        width: 27px;
    }
    .eagle__nav-ham_menu.active{
        display: block;
        position: fixed;
    }
}
@media screen and (max-width: 425px) {
    .eagle__nav.small{
        height: 70px;
    }

}
@media screen and (max-width: 376px) {
    .eagle__nav-ham_menu{
        padding: 10px 30px 10px 30px;
    }
    .eagle__nav-ham_menu p{
        font-size: 12px;
    }
}

