.eagle__service{
    width: 100%;
    height:100%;
    padding-top: 10px;
    padding-bottom: 60px;
}
.eagle__service-container{
    text-align: center;
}
.eagle__service-container h1{
    margin-bottom: 40px;
}
.eagle__service-container_cardcont{
    display: flex;
}

.eagle__service-container_cardcont-card{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: 1px solid red; */
    height: 440px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    justify-content: space-between;
}
.eagle__service-container_cardcont-card img{
    /* border: 1px solid red; */
    width: 90%;
}
#card1{
    background-color: rgb(12, 90, 138);
}
#card2{
    background-color: rgb(24, 121, 173);
}
#card3{
    background-color: rgb(22, 140, 203);
}
#card4{
    background-color: rgb(27, 159, 193);
}

#card1:hover{
    z-index: 1;
    transition: transform 0.3s ;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#card2:hover{
    z-index: 1;
    transition: all .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* opacity: 0.8; */
}
#card3:hover{
    z-index: 1;
    transition: all .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* opacity: 0.8; */
}
#card4:hover{
    z-index: 1;
    transition: all .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* opacity: 0.8; */
}
#card4 img{
    height: 55%;
    margin-bottom: 15%;
}
#card1 h1, #card3 h1{
    color: white;
}
@media screen and (max-width:1024px){
    .eagle__service-container_cardcont-card{
        height: 340px;
    }
    .eagle__service-container_cardcont-card img{
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .eagle__service-container_cardcont{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .eagle__service-container_cardcont-card{
        width: 100%;
    }
    .eagle__service-container_cardcont-card img{
        width: 70%;
    }
    #card1 img{
        width: 60%;
    }
    #card3 img{
        width: 60%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:426px) {
    .eagle__service-container_cardcont{
        display: flex;
        flex-direction: column;
    }
    .eagle__service-container_cardcont-card{
        width: 100%;
    }
    .eagle__service-container_cardcont-card img{
        width: 70%;
    }
}
